body{
  header {
    padding-left: 40px;

    figure {
      margin: 20px 40px 10px 0px;
      padding: 0px !important;

      img {
        height: 170px;
        width: 170px;
        margin: 0px;
        padding: 0px;
        border-radius: 50%;
      }
    }

    nav {
      margin: 0px 50px 0px 0px;
      padding: 0px;

      ul {
        margin: 0px;
        padding: 0px;

        li{
          display: inline-block;
          list-style-type: none;
          margin-top: 80px;
          font-size: 18px;
          font-family: Helvetica, sans-serif;
          padding: 0px !important;

          .icon {
            height: 35px;
            width: 35px;
          }

          a {
            color: black;
            text-decoration: none;
          }

          a:hover {
            color: black;
            text-decoration: none;
          }
        }
      }
    }

    .hidden-sm-up {
      margin-right: 50px;
    }
  }

  main {
    min-height: 850px;
    width: 100%;
    padding-left: 40px;

    aside {
      figure {
        display: inline-block;
        margin: 20px 0px 10px;
        padding: 0px !important;

        img {
          height: 170px;
          width: 170px;
          margin: 0px;
          padding: 0px;
          border-radius: 50%;
        }
      }

      nav {
        height: 360px;
        width: 170px;
        margin: 0px;
        padding: 0px;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;

        ul {
          margin: 0px;
          padding: 0px;

          li {
            list-style-type: none;
            margin-top: 25px;
            margin-left: 5px;
            font-size: 20px;
            font-family: Helvetica, sans-serif;

            .icon {
              height: 35px;
              width: 35px;
              margin-bottom: 5px;
            }

            a {
              color: black;
              text-decoration: none;
            }
          }
        }
      }
    }

    .col-xl-10 {
      .heading {
        font-family: Helvetica, sans-serif;
        font-size: 15px;
        margin-top: 20px;
        margin-right: 15px;
        border-width: 1px;
        border-style: solid;
        border-color: initial;
        border-image: initial;
        border-radius: 10px;
        padding: 5px;

        h1 {
          text-transform: uppercase;
          font-family: "Comic Sans MS";
        }

        p {
          font-family: Helvetica, sans-serif;
          font-size: 15px;
        }
      }

      form {
        font-family: Helvetica, sans-serif;
        padding-right: 30px;
        margin: 20px 0px;

        label {
          font-size: 15px;
        }
      }

      .contents {
        margin-right: 15px;
        margin-top: 78px;

        article {
          margin-bottom: 10px;
          border-width: 1px;
          border-style: solid;
          border-color: initial;
          border-image: initial;
          border-radius: 10px;

          h3 {
            text-transform: uppercase;
            font-family: "Comic Sans MS";
            padding-top: 5px;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    padding-left: 40px;

    hr {
      margin-right: 20px;
      width: 100%;
      height: 1px;
      background: black;
      padding: 0px;
    }

    nav {
      margin: 0px;
      padding: 0px;

      ul {
        margin: 0px;
        padding: 0px;

        li {
          list-style-type: none;
          display: inline-block;
        }
      }
    }

    .footer-icon {
      height: 25px;
      width: 25px;
    }
  }
}

@media (max-width: 576px) {
  .contents {
    margin-top: 10px !important;
  }
}
